.projects {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projectsDark {
  background-color: rebeccapurple;
}

.projectsLight {
  background-color: white;
}

.project {
  width: 390px;
  height: max-content;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.projectImg {
  width: 390px;
  height: 260px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.projectName {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  text-align: center;

  padding: 20px 0;
}

.projectNameDark {
  color: rebeccapurple;
  background-color: white;
}

.projectNameLight {
  color: white;
  background-color: rebeccapurple;
}

.projectTechs {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #444444;
  background-color: #eeefff;
}

.tech {
  width: 22px !important;
  height: 22px !important;
  margin: 0 3px;
}

.projectButtons {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.projectButtonsDark {
  background-color: white;
}

.projectButtonsLight {
  background-color: rebeccapurple;
}

.projectButton1 {
  width: 50%;
  height: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-bottom-left-radius: 20px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-weight: 600;
}

.projectButton1Dark {
  color: white;
  background-color: rebeccapurple;
  border: 2px solid white;
}

.projectButton1Light {
  color: rebeccapurple;
  background-color: white;
  border: 2px solid rebeccapurple;
}

.projectButton1Dark:hover {
  color: rebeccapurple;
  background-color: white;
  border: 2px solid rebeccapurple;
}

.projectButton1Light:hover {
  color: white;
  background-color: rebeccapurple;
  border: 2px solid white;
}

.projectButton2 {
  width: 50%;
  height: 50%;
  color: white;
  background-color: rebeccapurple;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rebeccapurple;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.7;
  border-bottom-right-radius: 20px;
}

.projectButton2Dark {
  color: rebeccapurple;
  background-color: white;
  border: 2px solid white;
}

.projectButton2Light {
  color: white;
  background-color: rebeccapurple;
  border: 2px solid rebeccapurple;
}

.projectButton2:hover {
  opacity: 1;
}

@media screen and (max-width: 450px) {
  .projects {
    width: 100%;
  }

  .project {
    width: 100%;
  }

  .projectImg {
    width: 100%;
    height: 260px;
  }

  .projectName {
    font-size: 25px;

    padding: 10px 0;
  }

  .projectTechs {
    font-size: 14px;
    padding: 7px 10px;
  }

  .tech {
    margin: 0 2px;
  }

  .projectButtons {
    font-size: 15px;
  }

  .projectButton1 {
    width: 50%;
    height: 50%;
    color: white;
    background-color: rebeccapurple;
  }
}
