.skills {
  position: relative;
  top: 700px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  padding: 50px 0;
  border-bottom: 2px solid rebeccapurple;
}

.skillsDark {
  background-color: rebeccapurple;
  border-bottom: 2px solid white;
}

.skillsLight {
  background-color: white;
  border-bottom: 2px solid rebeccapurple;
}

.skillsHeader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 80px;
  color: rebeccapurple;
  letter-spacing: 10px;
  padding: 30px 0 30px 0;
  border-bottom: 2px solid rebeccapurple;
  width: 600px;
}

.skillsHeaderDark {
  color: white;
  border-bottom: 2px solid white;
}

.skillsHeaderLight {
  color: rebeccapurple;
  border-bottom: 2px solid rebeccapurple;
}

.skillsMain {
  display: flex;
  justify-content: space-evenly;
}

.skillsPart {
  display: flex;
  justify-content: space-evenly;
}

.card {
  text-align: center;
  margin-top: 50px;
}

.skill {
  font-size: 36px;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #444444;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.skillDark {
  color: #ffffff;
}

.skillLight {
  color: #444444;
}

@media screen and (max-width: 1522px) {
  .skill {
    font-size: 25px;
  }

  .skillsHeader {
    font-size: 70px;
  }
}

@media screen and (max-width: 1280px) {
  .skill {
    font-size: 28px;
  }

  .skillsHeader {
    font-size: 70px;
  }
}

@media screen and (max-width: 1100px) {
  .skill {
    font-size: 26px;
  }

  .skillsHeader {
    font-size: 65px;
  }
}

@media screen and (max-width: 850px) {
  .skill {
    font-size: 20px;
  }

  .skillsHeader {
    font-size: 50px;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .skill {
    font-size: 14px;
  }

  .skillsHeader {
    font-size: 40px;
    width: 250px;
  }
}

@media screen and (max-width: 450px) {
  .skill {
    font-size: 11px;
  }

  .skillsHeader {
    font-size: 40px;
  }
}

@media screen and (max-width: 350px) {
  .skill {
    font-size: 7px;
  }

  .skillsHeader {
    font-size: 30px;
    width: 100%;
  }
}
