p.input-container {
  width: 50%;
  position: relative;
  top: 50px;
  margin-bottom: 25px !important;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 auto;
}

label {
  color: #aaa;
  position: absolute;
  cursor: text;
  transform: translateY(-25px);
  transition: transform 0.3s ease;
  left: 0;
  bottom: -15px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

input {
  width: 105%;
  height: 40px;
  font-size: 16px;
  transition: 0.6s;
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: transparent;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  border-radius: 10px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid rebeccapurple;
}

.animation label {
  transform: translateY(-55px);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.animation2 label {
  transform: translateY(-98px);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.animation-color label {
  color: rebeccapurple;
}

textarea {
  width: 105%;
  height: 80px;
  font-size: 16px;
  transition: 0.6s;
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: transparent;
  resize: none;
  outline: none;
  margin-top: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  border-radius: 10px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
