.contact {
  position: relative;
  top: 700px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 50px 0;
}

.contactDark {
  background-color: rebeccapurple;
  border-bottom: 2px solid white;
}

.contactLight {
  background-color: white;
  border-bottom: 2px solid rebeccapurple;
}

.contactHeader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 80px;
  color: rebeccapurple;
  letter-spacing: 10px;
  padding: 30px 0 30px 0;
  border-bottom: 2px solid rebeccapurple;
  width: 600px;
}

.contactHeaderDark {
  color: white;
  border-bottom: 2px solid white;
}

.contactHeaderLight {
  color: rebeccapurple;
  border-bottom: 2px solid rebeccapurple;
}

.contactContainer {
  width: 100%;
  display: flex;
}
.links {
  width: 50%;
}

.linksDark {
  color: white;
}

.linksLight {
  color: #444444;
}

.form {
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}

.form > * {
  margin-left: 50px;
}

.button {
  margin-top: 65px !important;
  color: white;
  border: none;
  width: 54%;
  padding: 15px 70px;
  cursor: pointer;
  border-radius: 10px;

  opacity: 0.9;
  transition: all 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: 20px;
}

.buttonDark {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(221, 221, 221, 1) 100%
  );
  color: #444444;
}

.buttonLight {
  background: rgb(133, 89, 221);
  background: linear-gradient(
    90deg,
    rgba(133, 89, 221, 1) 30%,
    rgba(102, 51, 153, 1) 100%
  );
  color: white;
}

.buttonContainer {
  text-align: center;
  margin-left: 0 !important;
}

.button:hover {
  opacity: 1;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

.link {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-left: 100px;
   color: #222222; 
}

.icon {
  width: 65px;
  height: 65px;
  padding-right: 20px;
}

@media screen and (max-width: 1280px) {
  .contactHeader {
    font-size: 70px;
  }
}

@media screen and (max-width: 1100px) {
  .contactHeader {
    font-size: 65px;
    text-align: center;
  }

  .contactContainer {
    flex-direction: column;
    align-items: center;
  }

  .links {
    margin: 50px;
  }

  .link {
    margin: 0;
  }

  .form {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .contactHeader {
    font-size: 50px;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .contactHeader {
    font-size: 40px;
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .link {
    font-size: 14px;
  }

  .icon {
    width: 45;
    height: 35px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 450px) {
  .contactHeader {
    font-size: 40px;
  }
}

@media screen and (max-width: 350px) {
  .contactHeader {
    font-size: 30px;
    width: 100%;
  }
}
