.navbar {
  width: 1522px;
  height: 75px;
  color: white;
  background-color: rebeccapurple;
  border: 1px solid white;
  border-radius: 5px;
  border-top: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 0 auto;
  z-index: 10000;
}

.left {
  line-height: 150%;
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  margin-left: 20px;
}

.left a {
  color: white;
}

.name {
  font-family: "Rubik Vinyl", cursive;
  font-size: 35px;
  cursor: pointer;
  transition: all 0.4s;
}
.portfolioName {
  font-family: "Sevillana", cursive;
  font-size: 16px;
  transition: all 0.4s;
}

.name:hover,
.name:hover ~ .portfolioName {
  color: red;
}

.right {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navButton {
  margin: 0 5px !important;
  background-color: red;
}

.mode {
  border-radius: 15px;
  width: 50px;
  height: 20px;
  margin: 0 5px;
  background-color: white;
  border: 1px solid rebeccapurple;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.modeLeft {
  background-color: white;
  border: 1px solid rebeccapurple;
}

.modeRight {
  background-color: rebeccapurple;
  border: 1px solid white;
}

.modeInner {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: red;
  border: 1px solid white;

  opacity: 0.7;
}

.modeInnerLeft {
  left: 0;
}

.modeInnerRight {
  right: 0;
}

.modeInner:hover {
  opacity: 1;
}

.mode2 {
  margin-top: 20px;
  border-radius: 15px;
  width: 50px;
  height: 20px;
  margin: 0 5px;
  background-color: white;
  border: 1px solid rebeccapurple;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.modeLeft2 {
  background-color: white;
  border: 1px solid rebeccapurple;
}

.modeRight2 {
  background-color: rebeccapurple;
  border: 1px solid white;
}

.modeInner2 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: red;
  border: 1px solid white;
  left: 0;
  opacity: 0.7;
}

.modeInner2Left {
  left: 0;
}

.modeInner2Right {
  right: 0;
}

.modeInner2:hover {
  opacity: 1;
}

.menu {
  display: none;
  cursor: pointer;
  opacity: 0.8;
}

.menuContent {
  display: none;
  position: absolute;
  top: 75px;
  right: 0;
  width: 220px;
  height: 0px;
  background-color: rebeccapurple;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 50% 100%, 0 70%);
  right: 18px;
  color: black;
  border-top: 1px solid white;
  transition: all 0.4s;
}

.menuContentOpen {
  height: 440px;
}

.menuContentInner {
  clip-path: polygon(4% 2%, 96% 2%, 96% 70%, 50% 97%, 50% 97%, 4% 70%);
  background-color: white;
  width: 220px;
  height: 440px;
  text-overflow: ellipsis;
  white-space: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: white;
  color: white;
}

.icongithub {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.iconlinkedin {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: rgb(0, 119, 181);
  color: white;
}

.icon:hover,
.icongithub:hover,
.iconlinkedin:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.nav1 {
  width: 100%;
  height: 8px;
  background-color: white;
}

.nav {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  height: 55px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid white;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.nav:hover {
  opacity: 1;
}
.navsocial {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  height: 55px;
  background-color: rgb(238, 239, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid rgb(221, 238, 255);
  color: white;
}

.menu:hover {
  opacity: 1;
}

@media screen and (max-width: 1522px) {
  .navbar {
    width: 100vw;
  }
}

@media screen and (max-width: 1410px) {
  .navbar {
    height: 70px;
  }

  .menuContent {
    top: 70px;
  }

  .left {
    padding: 4px;
  }

  .right {
    padding: 19px;
  }
}

@media screen and (max-width: 1280px) {
  .navbar {
    height: 67px;
  }

  .menuContent {
    top: 67px;
  }

  .left {
    padding: 3px;
    margin-left: 19px;
  }

  .name {
    font-size: 33px;
  }
  .portfolioName {
    font-size: 14px;
  }

  .mode {
    width: 47px;
    height: 18px;
    margin: 0 5px;
  }

  .modeInner {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    height: 65px;
  }

  .menuContent {
    display: block;

    top: 65px;
  }

  .name {
    font-size: 31px;
  }
  .portfolioName {
    font-size: 13px;
  }

  .menu {
    display: block;
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .navButton {
    display: none !important;
  }

  .mode {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    height: 63px;
  }

  .menuContent {
    top: 63px;
  }

  .name {
    font-size: 29px;
  }
  .portfolioName {
    font-size: 12px;
  }

  .menu {
    width: 35px;
    height: 35px;
    padding: 5px;
  }

  .menuContent {
    width: 200px;
    height: 0px;
  }

  .menuContentOpen {
    height: 420px;
  }

  .menuContentInner {
    width: 200px;
    height: 420px;
  }

  .icon {
    width: 20px;
    height: 20px;
    padding: 4px;
    margin: 0 2px;
  }

  .icongithub {
    width: 20px;
    height: 20px;
    padding: 4px;
    margin: 0 2px;
  }

  .iconlinkedin {
    width: 20px;
    height: 20px;
    padding: 4px;
    margin: 0 2px;
  }

  /* .nav1 {
    width: 100%;
    height: 8px;
    background-color: white;
  } */

  .nav {
    height: 55px;

    border-bottom: 3px solid white;
  }

  .navsocial {
    height: 55px;
    border-bottom: 3px solid rgb(221, 238, 255);
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    height: 62px;
  }

  .menuContent {
    top: 62px;
  }

  .name {
    font-size: 25px;
  }
  .portfolioName {
    font-size: 11px;
  }

  .menu {
    width: 32px;
    height: 32px;
    padding: 4px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    height: 60px;
  }
  .menuContent {
    top: 60px;
  }

  .name {
    font-size: 22px;
  }
  .portfolioName {
    font-size: 10px;
  }

  .menu {
    width: 31px;
    height: 31px;
    padding: 3px;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    height: 58px;
  }
  .menuContent {
    top: 58px;
  }
  .name {
    font-size: 20px;
  }
  .portfolioName {
    font-size: 9px;
  }

  .menu {
    width: 30px;
    height: 30px;
    padding: 2px;
  }

  .menuContent {
    width: 150px;
    height: 0px;
  }

  .menuContentOpen {
    height: 300px;
  }

  .menuContentInner {
    width: 150px;
    height: 300px;
  }

  .icon {
    width: 18px;
    height: 18px;
    padding: 2px;
    margin: 0 2px;
  }

  .icongithub {
    width: 18px;
    height: 18px;
    padding: 2px;
    margin: 0 2px;
  }

  .iconlinkedin {
    width: 18px;
    height: 18px;
    padding: 2px;
    margin: 0 2px;
  }

  /* .nav1 {
    width: 100%;
    height: 8px;
    background-color: white;
  } */

  .nav {
    height: 30px;

    border-bottom: 2px solid white;
  }

  .navsocial {
    height: 30px;
    border-bottom: 2px solid rgb(221, 238, 255);
  }

  .mode2 {
    width: 40px;
    height: 16px;
  }

  .modeInner2 {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 450px) {
  .menuContent {
    width: 100px;
    height: 0px;
  }

  .menuContentOpen {
    height: 200px;
  }

  .menuContentInner {
    width: 100px;
    height: 200px;
  }

  .icon {
    width: 12px;
    height: 12px;
    padding: 1px;
    margin: 0 1px;
  }

  .icongithub {
    width: 12px;
    height: 12px;
    padding: 1px;
    margin: 0 1px;
  }

  .iconlinkedin {
    width: 12px;
    height: 12px;
    padding: 1px;
    margin: 0 1px;
  }

  /* .nav1 {
    width: 100%;
    height: 8px;
    background-color: white;
  } */

  .nav {
    height: 20px;
    font-size: 12px;
    border-bottom: 1px solid white;
  }

  .navsocial {
    height: 20px;
    border-bottom: 12px solid rgb(221, 238, 255);
  }
}

@media screen and (max-width: 420px) {
  .navbar {
    height: 55px;
  }

  .menuContent {
    top: 55px;
  }

  .name {
    font-size: 16px;
  }
  .portfolioName {
    font-size: 7px;
  }

  .menu {
    width: 25px;
    height: 25px;
    padding: 1px;
  }

  .menuContent {
    width: 75px;
    height: 0px;
  }

  .menuContentOpen {
    height: 150px;
  }

  .menuContentInner {
    width: 75px;
    height: 150px;
  }

  .icon {
    width: 10px;
    height: 10px;
    padding: 0px;
    margin: 0 1px;
  }

  .icongithub {
    width: 10px;
    height: 10px;
    padding: 0px;
    margin: 0 1px;
  }

  .iconlinkedin {
    width: 10px;
    height: 10px;
    padding: 0px;
    margin: 0 1px;
  }

  /* .nav1 {
    width: 100%;
    height: 8px;
    background-color: white;
  } */

  .nav {
    height: 20px;
    font-size: 9px;
    border-bottom: 1px solid white;
  }

  .navsocial {
    height: 20px;
    border-bottom: 1px solid rgb(221, 238, 255);
  }

  .mode2 {
    width: 30px;
    height: 12px;
  }

  .modeInner2 {
    width: 12px;
    height: 12px;
  }
}
