.aws-btn {
  --button-default-height: 44px !important;
  --button-default-font-size: 16px !important;
  --button-default-border-radius: 4px !important;
  --button-horizontal-padding: 16px !important;
  --button-raise-level: 4px !important;
  --button-hover-pressure: 1 !important;
  --transform-speed: 0.15s !important;
  --button-primary-color: #ffffff !important;
  --button-primary-color-dark: #444444 !important;
  --button-primary-color-light: #444444 !important;
  --button-primary-color-hover: #eeeeee !important;
  --button-primary-color-active: #dddddd !important;
  --button-primary-border: 2px solid rgb(68, 75, 255) !important;
  --button-secondary-color: #ffffff !important;
  --button-secondary-color-dark: #444444 !important;
  --button-secondary-color-light: #444444 !important;
  --button-secondary-color-hover: #eeeeee !important;
  --button-secondary-color-active: #dddddd !important;
  --button-secondary-border: 2px solid rgb(180, 93, 240) !important;
  --button-danger-color: #ff0000 !important;
  --button-danger-color-dark: #ffffff !important;
  --button-danger-color-light: #ffffff !important;
  --button-danger-color-hover: #f50000 !important;
  --button-danger-color-active: #eb0000 !important;
  --button-danger-border: none !important;
  --button-disabled-color: #ffffff !important;
  --button-disabled-color-dark: #444444 !important;
  --button-disabled-color-light: #444444 !important;
  --button-disabled-color-hover: #eeeeee !important;
  --button-disabled-color-active: #dddddd !important;
  --button-disabled-border: 2px solid rgb(255, 203, 9) !important;
}
