.sidebar {
  display: flex;
  flex-direction: column;
  width: 135px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2000;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 4px !important;
}

.awesomeButton {
  margin: 4px 0;
}
