.projects {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projectsDark {
  background-color: rebeccapurple;
}

.projectsLight {
  background-color: white;
}

@media screen and (max-width: 450px) {
  .projects {
    width: 100%;
  }
}
