body {
  margin: 0;
  width: 100%;
  height: max-content;
  background-color: rgb(221, 198, 236);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
}

/* Track */
body::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rebeccapurple;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgba(102, 51, 153, 0.9);
}
